.header-container {
    margin-bottom: 20px;
}

.header-logo {
    height: 30px;
    width: 30px;
    margin: 10px 10px -5px 5px;
}

.header-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

@media (max-width: 600px) { 
    .header-title {
        font-size: 24px;
    }

    .payments-button {
        position: absolute;
        top: 90%;
        z-index: 4;
    }

    .header-container {
        margin-bottom: 47px;
    }
 }